RewriteEngine On
RewriteBase /nag-test/

RewriteCond %{REQUEST_URI} /?api
RewriteRule ^/?api/(.*)$ init.php?api=$1 [L]

RewriteCond %{REQUEST_URI} !init.php
RewriteCond %{REQUEST_URI} !(/?public)
RewriteCond %{REQUEST_URI} !(/?api)
RewriteRule ^(.*)$ init.php?req=$1 [L]

